In [2]:
import pandas as pd
import numpy as np
import itertools

In [32]:
mydict = {'1' : ['B', 'C', 'D'],
         '2' : ['E', 'F', 'G'],
         '3' : ['H', 'I', 'J'],
         '4' : ['K', 'L', 'M']}

4

In [13]:
mylist = list(mydict.values())
mylist

[['B', 'C', 'D'], ['E', 'F', 'G'], ['H', 'I', 'J'], ['K', 'L', 'M']]

In [18]:
list1 = list(mylist[0][0]+mylist[1][0]+mylist[2][0]+mylist[3][0])
list1

['B', 'E', 'H', 'K']

In [21]:
list2 = list(mylist[0][1]+mylist[1][1]+mylist[2][1]+mylist[3][1])
list2

['C', 'F', 'I', 'L']

In [22]:
list3 = list(mylist[0][2]+mylist[1][2]+mylist[2][2]+mylist[3][2])
list3

['D', 'G', 'J', 'M']

In [155]:
df = pd.DataFrame()
df = df.append(pd.DataFrame(itertools.product(list1,list1)))

In [158]:
df = df.append(pd.DataFrame(itertools.product(list2,list2)))
df.index = range(len(df.index))

In [159]:
df = df.append(pd.DataFrame(itertools.product(list3,list3)))
df.index = range(len(df.index))
df.columns = ['first', 'second']

In [160]:
len(df)

48

In [164]:
df

   first second
0      B      B
1      B      E
2      B      H
3      B      K
4      E      B
5      E      E
6      E      H
7      E      K
8      H      B
9      H      E
10     H      H
11     H      K
12     K      B
13     K      E
14     K      H
15     K      K
16     C      C
17     C      F
18     C      I
19     C      L
20     F      C
21     F      F
22     F      I
23     F      L
24     I      C
25     I      F
26     I      I
27     I      L
28     L      C
29     L      F
30     L      I
31     L      L
32     D      D
33     D      G
34     D      J
35     D      M
36     G      D
37     G      G
38     G      J
39     G      M
40     J      D
41     J      G
42     J      J
43     J      M
44     M      D
45     M      G
46     M      J
47     M      M

In [196]:
selectdf = pd.DataFrame(columns=['Query'])

for index, row in df.iterrows(): 
    mystr = "Select " + row["first"] + ", " + row["second"] + " from df"
    selectdf.loc[index] = mystr

    
    
#print(df.apply(lambda row: "Select " + row.first + ", " + row.second + " from df"), axis = 1)

In [199]:
len(selectdf)

48

In [200]:
selectdf.to_csv("C:\\Users\\sabta\\Documents\\MTech\\AI\\output.csv")