In [0]:
#take a dataset with multiple random independent
# Find all values of b0, b1, b2, b3,...... for all indep vars for all values between -10000 and 10000
# calculate error of each

import numpy as np
import pandas as pd
import random
import statistics

In [57]:
df = pd.read_csv("/gapminder.csv")
print(df.head())

   population  fertility  ...  child_mortality                      Region
0  34811059.0       2.73  ...             29.5  Middle East & North Africa
1  19842251.0       6.43  ...            192.0          Sub-Saharan Africa
2  40381860.0       2.24  ...             15.4                     America
3   2975029.0       1.40  ...             20.0       Europe & Central Asia
4  21370348.0       1.96  ...              5.2         East Asia & Pacific

[5 rows x 10 columns]

In [58]:
df.drop(['Region'], axis=1, inplace=True)
print(df.head())

   population  fertility  HIV  ...  BMI_female  life  child_mortality
0  34811059.0       2.73  0.1  ...    129.9049  75.3             29.5
1  19842251.0       6.43  2.0  ...    130.1247  58.3            192.0
2  40381860.0       2.24  0.5  ...    118.8915  75.5             15.4
3   2975029.0       1.40  0.1  ...    132.8108  72.5             20.0
4  21370348.0       1.96  0.1  ...    117.3755  81.5              5.2

[5 rows x 9 columns]

In [0]:
def calc_rmse(n):
  # generate random number for every x variable
  valsx = []

  for i in range(0, 1000):
    listarr = []
    # generate random number for each feature. Between 0 and 1000
    for x in range(0,8):
      xrand = random.randint(0, 1000)
      listarr.append(xrand)

  valsx.append(listarr)
  
  x = df.head(n)

  y = x['life']
  x = x.drop(['life'], axis = 1)

  xlist = list(x)
  ylist = list(y)

#  print(xlist)
#  print(ylist)
  

  df1 = pd.DataFrame(np.multiply(x, valsx), columns=xlist)
  df1['life_pred'] = df1['population']+df1['fertility']+df1['HIV']+df1['CO2']+df1['BMI_male']+df1['GDP']+df1['BMI_female']+df1['child_mortality']
  df1['life_act'] = y.values
  
  df1['error'] = df1['life_pred'] - df1['life_act']
  df1['sq_error'] = df1['error']*df1['error']

  df1_mean = statistics.mean(df1['sq_error'])

  df1_rmse = np.sqrt(df1_mean)
  return valsx, df1_rmse

#   cols = ['RMSE', 'Coefficient']

#   output_df = pd.DataFrame()
#   output_df['Coefficients'] = list([valsx])
#   output_df['RMSE'] = df1_rmse

In [67]:
n = 50

#cols = ['RMSE', 'Coefficient']

output_df = pd.DataFrame()

for z in range(1, n):
  valsx, rmse = calc_rmse(z)
  print("hello")
  print(valsx)
  print(rmse)
  s = pd.Series(valsx)
  output_df = output_df.append(pd.Series([rmse, s]), ignore_index=True)
#   np.append(output_df, [rmse, list([valsx])])
#   output_df.append(np.concatenate(rmse, list([valsx]))

hello
[[575, 337, 775, 372, 323, 601, 340, 440]]
20023826891.816013
hello
[[285, 888, 591, 18, 716, 989, 151, 910]]
8084980801.605282
hello
[[333, 403, 819, 866, 4, 752, 66, 168]]
10945993178.379353
hello
[[862, 943, 888, 226, 372, 122, 715, 155]]
24553501321.973576
hello
[[250, 869, 7, 189, 218, 17, 298, 707]]
6802682324.323456
hello
[[437, 266, 227, 386, 43, 856, 321, 440]]
10969709896.979671
hello
[[945, 151, 735, 3, 73, 543, 29, 458]]
22170213685.757595
hello
[[917, 4, 609, 357, 328, 480, 359, 899]]
20123577548.399982
hello
[[270, 306, 419, 533, 60, 470, 376, 269]]
14467064467.429253
hello
[[152, 715, 6, 136, 603, 594, 658, 896]]
7728444611.838095
hello
[[869, 893, 104, 824, 387, 458, 559, 616]]
42185669462.11322
hello
[[513, 361, 90, 383, 409, 173, 997, 794]]
23896446435.573307
hello
[[72, 745, 181, 304, 247, 131, 246, 15]]
3222967720.8104167
hello
[[324, 732, 224, 615, 564, 502, 795, 864]]
13996863088.615139
hello
[[731, 265, 596, 922, 401, 395, 794, 18]]
30504556717.06834
hello
[[75, 349, 967, 676, 569, 731, 517, 746]]
3039596336.707155
hello
[[507, 404, 952, 911, 433, 685, 714, 681]]
19912372205.377052
hello
[[218, 367, 794, 656, 236, 852, 86, 211]]
13019063397.288595
hello
[[837, 28, 750, 369, 296, 638, 791, 448]]
48659239389.511566
hello
[[584, 997, 148, 630, 411, 772, 539, 177]]
33148916791.53511
hello
[[865, 825, 242, 721, 43, 407, 714, 118]]
47940549882.405304
hello
[[860, 714, 755, 219, 172, 403, 932, 2]]
46637621492.93767
hello
[[231, 329, 403, 71, 526, 622, 677, 785]]
12290736415.156096
hello
[[319, 741, 831, 953, 175, 632, 588, 68]]
16756452184.657661
hello
[[758, 620, 688, 864, 260, 374, 370, 973]]
39041374214.0729
hello
[[200, 145, 487, 562, 620, 17, 430, 449]]
10121735260.156668
hello
[[157, 540, 267, 442, 927, 226, 766, 772]]
7915597151.264599
hello
[[614, 87, 81, 253, 103, 45, 999, 380]]
30393311779.169044
hello
[[375, 852, 295, 567, 110, 96, 33, 955]]
18242195510.06678
hello
[[705, 633, 130, 219, 30, 859, 804, 366]]
33727890356.82024
hello
[[885, 36, 307, 411, 123, 84, 654, 325]]
41757157320.77527
hello
[[175, 289, 664, 74, 299, 166, 489, 318]]
8129066415.275012
hello
[[935, 72, 625, 959, 495, 81, 747, 408]]
42803858469.03988
hello
[[268, 312, 648, 347, 996, 409, 449, 154]]
12092172642.641033
hello
[[815, 785, 599, 12, 7, 66, 291, 629]]
36236669221.31004
hello
[[839, 119, 326, 443, 250, 41, 381, 377]]
36837290172.36312
hello
[[579, 222, 271, 300, 117, 496, 236, 36]]
26181283740.59302
hello
[[514, 702, 886, 743, 751, 977, 838, 592]]
22943067764.59733
hello
[[520, 597, 983, 211, 748, 701, 757, 398]]
22909714948.478573
hello
[[552, 889, 354, 496, 379, 864, 128, 847]]
24017519873.50164
hello
[[748, 529, 28, 574, 577, 948, 91, 983]]
32145208486.160797
hello
[[115, 20, 880, 172, 274, 949, 297, 981]]
4887707350.800542
hello
[[986, 259, 218, 204, 272, 883, 999, 946]]
41382013223.21253
hello
[[253, 611, 91, 511, 776, 424, 423, 534]]
10764301541.093124
hello
[[863, 66, 854, 54, 940, 175, 404, 203]]
36299135406.1782
hello
[[420, 651, 211, 299, 907, 61, 768, 322]]
17472941277.493355
hello
[[803, 376, 828, 235, 580, 262, 295, 495]]
33054109556.609886
hello
[[799, 353, 121, 347, 990, 727, 984, 609]]
33852772406.314762
hello
[[610, 30, 947, 979, 159, 108, 73, 402]]
25655558304.867382

In [71]:
output_df.head()

              0                                                  1
0  2.002383e+10  0    [575, 337, 775, 372, 323, 601, 340, 440]
...
1  8.084981e+09  0    [285, 888, 591, 18, 716, 989, 151, 910]
d...
2  1.094599e+10  0    [333, 403, 819, 866, 4, 752, 66, 168]
dty...
3  2.455350e+10  0    [862, 943, 888, 226, 372, 122, 715, 155]
...
4  6.802682e+09  0    [250, 869, 7, 189, 218, 17, 298, 707]
dty...

In [80]:
# Rename columns
output_df.columns = ['RMSE', 'Coefficients']
output_df.head()

           RMSE                                       Coefficients
0  2.002383e+10  0    [575, 337, 775, 372, 323, 601, 340, 440]
...
1  8.084981e+09  0    [285, 888, 591, 18, 716, 989, 151, 910]
d...
2  1.094599e+10  0    [333, 403, 819, 866, 4, 752, 66, 168]
dty...
3  2.455350e+10  0    [862, 943, 888, 226, 372, 122, 715, 155]
...
4  6.802682e+09  0    [250, 869, 7, 189, 218, 17, 298, 707]
dty...

In [92]:
# Find coefficients that give minimum RMSE.
# Sort the dataframe in ascending order and pick the first row

output_df = output_df.sort_values(by=['RMSE'])
firstrow = output_df.head(1)

# Print output values
print("Minimum RMSE " + str(firstrow['RMSE']))
print("Coefficients for minimum RMSE " + str(firstrow['Coefficients']))

Minimum RMSE 15    3.039596e+09
Name: RMSE, dtype: float64
Coefficients for minimum RMSE 15    0    [75, 349, 967, 676, 569, 731, 517, 746]
d...
Name: Coefficients, dtype: object

In [0]:
# Tried Linear Regression. Pls ignore.
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [0]:
df = pd.DataFrame(sc.fit_transform(df), columns=list(df))

In [0]:
x = df.drop(['life'], axis = 1)
y = df['life']

In [0]:
x.describe()

         population     fertility  ...    BMI_female  child_mortality
count  1.390000e+02  1.390000e+02  ...  1.390000e+02     1.390000e+02
mean   1.078274e-17 -1.829072e-16  ... -1.343450e-15    -6.389773e-17
std    1.003617e+00  1.003617e+00  ...  1.003617e+00     1.003617e+00
min   -3.227940e-01 -1.071806e+00  ... -2.093057e+00    -9.305799e-01
25%   -2.909433e-01 -7.425183e-01  ... -7.786819e-01    -8.120546e-01
50%   -2.363934e-01 -3.697394e-01  ... -4.091545e-02    -4.630635e-01
75%   -6.946675e-02  6.771479e-01  ...  8.020827e-01     6.387828e-01
max    1.064514e+01  2.848585e+00  ...  1.972693e+00     3.224390e+00

[8 rows x 8 columns]

In [0]:
x.corr()

                 population  fertility  ...  BMI_female  child_mortality
population         1.000000  -0.061345  ...   -0.135149         0.008058
fertility         -0.061345   1.000000  ...    0.527314         0.901704
HIV               -0.065821   0.292695  ...    0.396680         0.394913
CO2               -0.010147  -0.439747  ...   -0.280813        -0.458186
BMI_male          -0.134905  -0.715380  ...   -0.447049        -0.749691
GDP               -0.045687  -0.502615  ...   -0.400740        -0.543874
BMI_female        -0.135149   0.527314  ...    1.000000         0.582053
child_mortality    0.008058   0.901704  ...    0.582053         1.000000

[8 rows x 8 columns]

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [0]:
model = lr.fit(x,y)

In [0]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
coef = model.coef_

In [0]:
cons = model.intercept_
cons

6.98451077409582e-16

In [0]:
features = list(x)
features

['population',
 'fertility',
 'HIV',
 'CO2',
 'BMI_male',
 'GDP',
 'BMI_female',
 'child_mortality']

In [0]:
outdf = pd.DataFrame(list(zip(features,coef)))
outdf

                 0         1
0       population -0.018979
1        fertility -0.080660
2              HIV -0.289553
3              CO2 -0.140249
4         BMI_male  0.080512
5              GDP  0.293106
6       BMI_female -0.121807
7  child_mortality -0.460463

In [0]:
y =