In [1]:
import numpy as np
import pandas as pd
import math
import statistics as st

In [2]:
df = pd.read_csv("C:\\Users\sabta\Documents\MTech\AI\Stock.csv")

df['Returns1'] = 0
df['Returns2'] = 0
df['Returns3'] = 0
df['Returns2_Pred'] = 0
df['Forecast_Err'] = 0

df['Returns1'] = df['Returns1'].astype(float)
df['Returns2'] = df['Returns2'].astype(float)
df['Returns3'] = df['Returns3'].astype(float)

In [3]:
prev = 0
for x in range(0, len(df)):
    if x == 0:
        df['Returns1'].shift(1)
        df['Returns2'].shift(1)
        df['Returns3'].shift(1)
        prev = df['Close'][x]
    else:
        curr = df['Close'][x]
        ret1 = curr / prev
        ret2 = (curr - prev) / prev
        ret3 = np.log(curr / prev)

        df.loc[x, ('Returns1', 'Returns2', 'Returns3')] = ret1, ret2, ret3
        prev = df['Close'][x]


mean1 = st.mean(df['Returns1'])
mean2 = st.mean(df['Returns2'])
mean3 = st.mean(df['Returns3'])

sd1 = st.stdev(df['Returns1'])
sd2 = st.stdev(df['Returns2'])
sd3 = st.stdev(df['Returns3'])

In [4]:
# print(df.head())

# create the Test dataset
test = df.iloc[-5:,]

# Create the Train dataset
train = df.iloc[0:-5,]

# Monte-Carlo Simulation for Test Dataset
s0 = train.Close.tail(1)
print(s0)

237    2505.25
Name: Close, dtype: float64

In [5]:
# Loop count
n = 1000
# Create empty arrays for each of the Return values
s1 = np.zeros(n, dtype=float)
s2 = np.zeros(n, dtype=float)
s3 = np.zeros(n, dtype=float)
s4 = np.zeros(n, dtype=float)
s5 = np.zeros(n, dtype=float)

for i in range(0, n):
    s1temp = s0 * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s2temp = s1temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s3temp = s2temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s4temp = s3temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s5temp = s4temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()

    s1[i] = s1temp
    s2[i] = s2temp
    s3[i] = s3temp
    s4[i] = s4temp
    s5[i] = s5temp

In [7]:
st.mean(s1)

2503.1223786741975

In [8]:
pred_mean1 = st.mean(s1)
pred_mean2 = st.mean(s2)
pred_mean3 = st.mean(s3)
pred_mean4 = st.mean(s4)
pred_mean5 = st.mean(s5)
pred_mean = (pred_mean1+pred_mean2+pred_mean3+pred_mean4+pred_mean5)/5
df['Returns2_Pred'] = pred_mean

print(pred_mean1)
print(pred_mean2)
print(pred_mean3)
print(pred_mean4)
print(pred_mean5)
print(pred_mean)

2503.1223786741975
2500.9966242379824
2498.872123059451
2496.750432779015
2494.6297261832096
2498.874256986771

In [9]:
df.head()

,Date,Close,Returns1,Returns2,Returns3,Returns2_Pred,Forecast_Err
0,16-08-2018,3282.649902,0.000000,0.000000,0.000000,2498.874257,0
1,17-08-2018,3242.300049,0.987708,-0.012292,-0.012368,2498.874257,0
2,20-08-2018,3304.000000,1.019030,0.019030,0.018851,2498.874257,0
3,21-08-2018,3316.750000,1.003859,0.003859,0.003852,2498.874257,0
4,23-08-2018,3284.750000,0.990352,-0.009648,-0.009695,2498.874257,0

In [11]:
df['Forecast_Err'] = (df['Close']-df['Returns2_Pred'])/df['Returns2_Pred']
fore_err1 = st.mean(df['Forecast_Err'])
print(fore_err1)
print("Forecasting Accuracy is :"+str((1-fore_err1)*100))

0.12070316818443033
Forecasting Accuracy is :87.92968318155697

In [9]:
df.head()

# n = 1000
# run 1000 times (for loop 0-n)
# run arrays for s1, s2, s3, s4, s5
# in a loop generate s1temp, s2temp, s3temp, s4temp, s5temp
# append into s1.append(s1temp)........
# will have 5 arrays - s1, s2, s3, s4, s5 (0-999 elements)
# s1.mean, s2.mean, s3.mean, s4.mean, s5.mean - gives predicted values - pred
# forecast error - (close-pred)/pred
# forecast accuracy - 1-forecast error
# show forecast accuracy for only the Test rows

,Date,Close,Returns1,Returns2,Returns3,Returns2_Pred,Forecast_Acc
0,16-08-2018,3282.649902,0.000000,0.000000,0.000000,2498.873956,0.313652
1,17-08-2018,3242.300049,0.987708,-0.012292,-0.012368,2498.873956,0.297504
2,20-08-2018,3304.000000,1.019030,0.019030,0.018851,2498.873956,0.322196
3,21-08-2018,3316.750000,1.003859,0.003859,0.003852,2498.873956,0.327298
4,23-08-2018,3284.750000,0.990352,-0.009648,-0.009695,2498.873956,0.314492

In [12]:
df.to_csv("C:\\Users\sabta\Documents\MTech\AI\Stock_Forecast_1K.csv")

In [13]:
# Run for 1Lakh
# Loop count
n = 100000
# Create empty arrays for each of the Return values
s1 = np.zeros(n, dtype=float)
s2 = np.zeros(n, dtype=float)
s3 = np.zeros(n, dtype=float)
s4 = np.zeros(n, dtype=float)
s5 = np.zeros(n, dtype=float)

for i in range(0, n):
    s1temp = s0 * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s2temp = s1temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s3temp = s2temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s4temp = s3temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()
    s5temp = s4temp * (math.exp(mean2 - ((sd2 ** 2) / 2))) + sd2 * np.random.normal()

    s1[i] = s1temp
    s2[i] = s2temp
    s3[i] = s3temp
    s4[i] = s4temp
    s5[i] = s5temp

In [14]:
st.mean(s1)

2503.122948625884

In [15]:
pred_mean1 = st.mean(s1)
pred_mean2 = st.mean(s2)
pred_mean3 = st.mean(s3)
pred_mean4 = st.mean(s4)
pred_mean5 = st.mean(s5)
pred_mean = (pred_mean1+pred_mean2+pred_mean3+pred_mean4+pred_mean5)/5
df['Returns2_Pred'] = pred_mean

print(pred_mean1)
print(pred_mean2)
print(pred_mean3)
print(pred_mean4)
print(pred_mean5)
print(pred_mean)

2503.122948625884
2500.9976233856196
2498.8741114057393
2496.7524545681154
2494.6324498301333
2498.875917563098

In [16]:
df.head()

,Date,Close,Returns1,Returns2,Returns3,Returns2_Pred,Forecast_Err
0,16-08-2018,3282.649902,0.000000,0.000000,0.000000,2498.875918,0.313651
1,17-08-2018,3242.300049,0.987708,-0.012292,-0.012368,2498.875918,0.297504
2,20-08-2018,3304.000000,1.019030,0.019030,0.018851,2498.875918,0.322195
3,21-08-2018,3316.750000,1.003859,0.003859,0.003852,2498.875918,0.327298
4,23-08-2018,3284.750000,0.990352,-0.009648,-0.009695,2498.875918,0.314492

In [17]:
df['Forecast_Err'] = (df['Close']-df['Returns2_Pred'])/df['Returns2_Pred']

In [18]:
fore_err2 = st.mean(df['Forecast_Err'])
print(fore_err2)
print("Forecasting Accuracy is :"+str((1-fore_err2)*100))

0.12070242344431029
Forecasting Accuracy is :87.92975765556898

In [19]:
df.to_csv("C:\\Users\sabta\Documents\MTech\AI\Stock_Forecast_1L.csv")